
@using ShelterHelpService1.Settings

@model ShelterHelpService1.Models.ViewModels.RegistrationViewModel

<h1 id="Registration">Регистрация</h1>

@*Если убрать enctype="multipart/form-data", то файл загружаться не будет!*@

<form asp-action="Registration" asp-controller="Account" asp-antiforgery="true" asp-route-returnUrl="@ViewBag.returnUrl"
      enctype="multipart/form-data" accesskeymethod="Post"
      class="form">

    <div class="columns">

        <div class="left-block">

            <div class="avatar-with-button">

                <img src="~/users-images/default-avatar.png" class="img-on-form" alt="Изображение не выбранно">

                <img src="~/images/upload-arrow.png" id="upload-icon">

            </div>

            <input type="file" accept="image/*" id="avatar-input" asp-for="Avatar">
            <span asp-validation-for="Avatar"></span>

        </div>

        <div class="right-block">

            <label asp-for="UserName">Никнейм<span>*</span></label><br>
            <input asp-for="UserName" type="text" required><br>
            <span asp-validation-for="UserName"></span><br><br>

            <label asp-for="Email">Email для регистрации<span>*</span></label><br>
            <input asp-for="Email" type="text" required><br>
            <span asp-validation-for="Email"></span><br><br>

            <label asp-for="Password">Пароль<span>*</span></label><br>
            <input asp-for="Password" type="password" required><br>
            <span asp-validation-for="Password"></span><br><br>

            <label asp-for="ConfirmPassword">Подтверждение пароля<span>*</span></label><br>
            <input asp-for="ConfirmPassword" type="password" required><br>
            <span asp-validation-for="ConfirmPassword"></span><br><br>

            <label asp-for="PublicEmail">Публичный Email (виден другим пользователям)</label><br>
            <input asp-for="PublicEmail" type="text"><br>
            <span asp-validation-for="PublicEmail"></span><br><br>

            <button id="registration-submit" type="submit" class="interactive-button">Зарегистрироваться</button><br><br>

            <a class="link" asp-controller="Account" asp-action="Login">
                Уже зарегистрированы?
                <br>
                Войти
            </a>

        </div>

    </div>

</form>

@section AdditionalScripts {

    <script src="~/scripts/avatar-input.js" asp-append-version="true"></script>

}