
.comments-block {
       
    margin: 0 0 2.5vw 0;

    height: auto;

    overflow: hidden;

    position: relative;

    display: none;
    transition: .6s;
}

    .comments-block.unvisible {
        
        display: block;

        opacity: 0;
    }

    .comments-block.visible {
        
        display: block;

        opacity: 1;
    }

.one-comment-block {
    
    margin: .5vw 2.5vw .5vw 2.5vw;

    height: auto;

    display: flex;
    justify-content: space-between;
    vertical-align: central;

    border: 2px solid #593a2e;
    border-radius: .5vw;
}

    .one-comment-block .avatar-part {
    
        width: auto;
        height: auto;

        padding: .5vw;
    }

        .one-comment-block .avatar-part h6 {
            
            text-align: center;
            margin: 0;
        }

        .one-comment-block .avatar-part img {
            
            width: 5vw;
        }

    .one-comment-block .content-part {
        
        height: auto;
        flex-grow: 1;

        display: flex;
        vertical-align: central;

        padding: .5vw;
    }

    .one-comment-block .files-part {
        
        width: auto;
        height: auto;

        padding: .5vw;
    }