.create-post {

    padding: 2.5vw;
}

#create-post-editor {

    width: 35%;
}

.mce-content-body.create-post-input-block {

    font-size: 150%;

    padding: 1vw;

    background-color: #f4eae2;
}

    .mce-content-body.create-post-input-block img {

        margin: 1vw;
    }