.form {
    display: block;
}



    .form .columns {
        width: 100%;
        height: 100%;
        display: flex;
    }

    .form .left-block {
        width: 40%;
        height: 100%;

        display: inline-block;
        padding: 1vw;

        text-align: center;
    }

    .form .avatar-with-button {
        position: relative;
    }

    .form .img-on-form {
        max-width: 100%;
        max-height: 75%;

        min-width: 50vh;
        min-height: 50vh;

        display: flex;
        justify-content: center;
    }

        .form .avatar-with-button #upload-icon {
            width: 20vh;
            height: 20vh;

            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;

            opacity: 0;

            transition: 0.6s;
        }

        .form .avatar-with-button:hover:not(:active) #upload-icon {
            opacity: 1;
            animation: upload-icon-vibration 1.25s;
        }

        .form .avatar-with-button:active #upload-icon {
            width: 30vh;
            height: 30vh;

            opacity: 1;
        }

            @keyframes upload-icon-vibration {
                from {
                    top: 50%;
                    animation-timing-function: ease;
                }

                20% {
                    top: 40%;
                    animation-timing-function: ease;
                }

                40% {
                    top: 45%;
                    animation-timing-function: ease;
                }

                60% {
                    top: 40%;
                    animation-timing-function: ease;
                }

                to {
                    top: 50%;
                    animation-timing-function: linear;
                }
            }

    .form #avatar-input {
        display: none;
    }

    .form #logout-button {
        display: block;
    }

    .form .right-block {
        width: 60%;
        height: 100%;

        display: inline-block;
        padding: 1vw 2vw 1vw 1vw;
    }

    .form span {
        color: #cf0000;

        font-size: 75%;
    }

    .form span.green-span {
        color: #00cf00;

        font-size: 75%;
        text-decoration: underline;
    }

    .form .one-line {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .form .interactive-button {
        font-size: 150%;
    }

    .form .link {
        text-decoration: underline;
    }