<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Metatags -->
    <partial name="MetatagsPartial" />

    <!-- Links -->
    <partial name="LinksPartial" />

    <!-- ReactJS -->
    <partial name="ReactJsImports" />
</head>

<body>

    <!-- Header -->
    <partial name="HeaderPartial" />

    <main>
        <div class="main-left-column">
            <partial name="LeftMenuPartial" />
        </div>

        <div class="main-right-column">
            @RenderBody()
        </div>
    </main>

    <!-- Footer -->
    <partial name="FooterPartial" />

    <!-- Scripts -->
    <partial name="ScriptsPartial" />
    @RenderSection("AdditionalScripts", false)

</body>
</html>