<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Metatags -->
    <partial name="MetatagsPartial" />

    <!-- Links -->
    <partial name="LinksPartial" />

    <!-- ReactJS -->
    <partial name="ReactJsImports" />
</head>

<body>

    <!-- Header -->
    <partial name="HeaderPartial" />

    <main>
        <div class="main-left-column">
            <div style="margin: .5vh;">
                <partial name="LeftMenuPartial" />
            </div>
        </div>

        <div class="main-right-column">
            <div style="margin: .5vh;">
                @RenderBody()
            </div>
        </div>
    </main>

    <!-- Footer -->
    <partial name="FooterPartial" />

    <!-- Scripts -->
    <partial name="ScriptsPartial" />

</body>
</html>