<!DOCTYPE html>
<html lang="ru">
<head>
    @await Html.PartialAsync("MetatagsPartial")

    @await Html.PartialAsync("CssPartial")
</head>

<body>

    <header>
        <a class="logo" id="logotype" href="#">Kind hands</a>

        <div class="header-menu">
            <ul class="header-menu-list">
                <li><a class="link" href="#">Наши приюты</a></li>
                <li>
                    <a class="link begin" id="bell-button-in-header" href="#" title="Уведомления">
                        <img src="images/bell1.png" alt="Уведомления">
                    </a>
                </li>
                <li><a class="account-button" href="#">Aккаунт</a></li>
            </ul>
        </div>
    </header>

    <main>
        <div class="main-left-column">
            <div style="margin: .5vh;">Left column</div>
        </div>

        <div class="main-right-column">
            <div style="margin: .5vh;">Right column</div>
        </div>
    </main>

    <footer>
        @RenderBody()
    </footer>

    @await Html.PartialAsync("ScriptsPartial")

</body>
</html>