
@using ShelterHelpService1.Settings

<footer>
    <div class="footer-menu">
        <h3 id="our-offices">Наши офисы:</h3>

        <ul class="footer-menu-list">
            <li>
                @CompanyInfo.Addresses[0]
                <a href="#" title="Мы на карте"><img src="~/images/link.png" class="link-icon" /></a>
            </li>
            <li>
                @CompanyInfo.Addresses[1]
                <a href="#" title="Мы на карте"><img src="~/images/link.png" class="link-icon" /></a>
            </li>
            <li>
                @CompanyInfo.Addresses[2]
                <a href="#" title="Мы на карте"><img src="~/images/link.png" class="link-icon" /></a>
            </li>
        </ul>
    </div>

    <a class="logo" id="logo-in-footer" href="#">@CompanyInfo.Name</a>
</footer>