
@using ShelterHelpService1.Settings

<header id="header">
    <a class="logo" id="logotype" href="/">@CompanyInfo.Name</a>

    <div class="header-menu">
        <ul class="header-menu-list">
            <li><a class="link" href="#">Наши приюты</a></li>
            <li>
                <a class="link begin" id="bell-button-in-header" href="#" title="Уведомления">
                    <img src="~/images/bell1.png" alt="Уведомления">
                </a>
            </li>
            <li><partial name="SignInOutButtonPartial" /></li>
        </ul>
    </div>
</header>