@if (ViewBag.IsAuthenticated == true)
{
    <a asp-action="RedactAccount" asp-controller="Users" >
        <button class="interactive-button"id="account-button" >МойАккаунт</button>
    </a>
}
else
{
    <a asp-action="Login" asp-controller="Account" >
        <button class="interactive-button" id="account-button" >Войти</button>
    </a>
}