
@using ShelterHelpService1.Models
@using ShelterHelpService1.Models.ViewModels

@model RedactAccountViewModel

<h1 id="Registration">Мой аккаунт</h1>

<div class="one-column-section">

    <a class="link" href="/Content/User/@(User.Identity.Name)">Как видят мой аккаунт другие пользователи?</a>

</div>

@*Если убрать enctype="multipart/form-data", то файл загружаться не будет!*@

<form asp-action="RedactAccount" asp-controller="My" asp-antiforgery="true" enctype="multipart/form-data" accesskeymethod="Post"
      class="form">

    <div class="columns">

        <div class="left-block">

            <div class="avatar-with-button">

                <img src="~/users-images/@(ViewBag.AvatarName ?? "default-avatar.png")" class="img-on-form" alt="Изображение не выбранно">

                <img src="~/images/upload-arrow.png" id="upload-icon">

            </div>

            <input type="file" accept="image/*" id="avatar-input" asp-for="Avatar">
            <span asp-validation-for="Avatar"></span><br><br>

            <a asp-action="Logout" asp-controller="Account" class="interactive-button" id="logout-button">Выйти</a>

        </div>

        <div class="right-block">

            @if (ViewBag.RedactResult != null)
            {
                <span class="green-span">@(ViewBag.RedactResult ?? "")</span><br><br>
            }

            <label>Приветствую, <b>@User.Identity.Name</b>!</label><br>
            <p>Здесь вы можете просматривать и редактировать данные своей страницы:</p><br>

            <label asp-for="Email">Email для регистрации</label><br>
            <input asp-for="Email" type="text"><br>
            <span asp-validation-for="Email"></span><br><br>

            <label asp-for="NewPassword">Новый пароль</label><br>
            <input asp-for="NewPassword" type="password"><br>
            <span asp-validation-for="NewPassword"></span><br><br>

            <label asp-for="ConfirmNewPassword">Подтверждение нового пароля</label><br>
            <input asp-for="ConfirmNewPassword" type="password"><br>
            <span asp-validation-for="ConfirmNewPassword"></span><br><br>

            <label asp-for="Password">Старый пароль<span>*</span></label><br>
            <input asp-for="Password" type="password" required><br>
            <span asp-validation-for="Password"></span>

        </div>

    </div>

    <div class="one-column-section">

        <hr /><br>

        @if (ViewBag.UserCategory == UserCategoryEnum.SimpleUser)
        {
            <label asp-for="FirstName">Имя</label><br>
            <input asp-for="FirstName" type="text"><br>
            <span asp-validation-for="FirstName"></span><br><br>

            <label asp-for="LastName">Фамилия</label><br>
            <input asp-for="LastName" type="text"><br>
            <span asp-validation-for="LastName"></span><br><br>
        }
        else if (ViewBag.UserCategory == UserCategoryEnum.Shelter)
        {
            <label asp-for="FullName">Полное название организации</label><br>
            <input asp-for="FullName" type="text"><br>
            <span asp-validation-for="FullName"></span><br><br>
        }

        <label asp-for="PublicEmail">Публичный Email (виден другим пользователям)</label><br>
        <input asp-for="PublicEmail" type="text"><br>
        <span asp-validation-for="PublicEmail"></span><br><br>

        <textarea id="redact-account-html-editor" asp-for="HtmlPage">Контент поста</textarea>
        <span asp-validation-for="HtmlPage"></span><br><br>

        <button id="redact-submit" type="submit" class="interactive-button">Сохранить измениния</button>

    </div>

</form>

@section AdditionalScripts
{
    <script src="~/scripts/avatar-input.js" asp-append-version="true"></script>

    <script src="https://cdn.tiny.cloud/1/6r5jxea1fjw8vfekjee9pquejayu22ec5og54oj34s9x6pcu/tinymce/5/tinymce.min.js"
            referrerpolicy="origin"></script>

    <script src="~/scripts/redact-account-html.js" asp-append-version="true"></script>
}
